<nav class="breadcrumb">
  <!-- <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a> -->
  <span class="breadcrumb-item active">นำเข้าข้อมลจาก Excel</span>
</nav>
<div class="row">
  <!-- <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5" style="padding: 1em">
    <div class="card">
      <div style="padding: 1em;">
        <img src="../../../assets/pic/excel.svg" height="50" width="50" style="margin-right:1em "> ดาวโหลดไฟล์ Excel
        <button style="float:right;" class="btn btn-primary" (click)="downloadFile()">Download</button>
      </div>
    </div>
  </div> -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 1em">
    <div class="card">
      <div style="padding: 1em;">
        <img src="../../../assets/pic/excel.svg" height="50" width="50" style="margin-right:1em "> อัพโหลดไฟล์ Excel
        <button class="btn btn-md" (click)="selectPath()">เลือกไฟล์</button>
        <input type="text" [(ngModel)]="path" disabled>
        <button style="float:right;" class="btn btn-success" (click)="importExcel()">Import</button>
      </div>
    </div>
  </div>
</div>
<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">
      <clr-icon shape="file"></clr-icon>
      ข้อมูลเจ้าหน้าที่
    </button>
    <clr-tab-content id="content1">
      <div style="padding-top:1em ">
        <clr-datagrid>
          <clr-dg-column>คำนำหน้า</clr-dg-column>
          <clr-dg-column>ชื่อ</clr-dg-column>
          <clr-dg-column>นามสกุล</clr-dg-column>
          <clr-dg-column>ตำแหน่ง</clr-dg-column>
          <clr-dg-column>แก้ไข</clr-dg-column>
          <clr-dg-row *clrDgItems="let item of peopleRs" [clrDgItem]="item">
            <clr-dg-cell>{{item.title_name}}</clr-dg-cell>
            <clr-dg-cell>{{item.fname}}</clr-dg-cell>
            <clr-dg-cell>{{item.lname}}</clr-dg-cell>
            <clr-dg-cell>{{item.position_name}}</clr-dg-cell>
            <clr-dg-cell style="text-align: center">
              <div class="btn-group btn-sm">
                <button class="btn btn-outline-primary" (click)="onEditPeople(item)">Edit</button>
              </div>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} รายการ
            <clr-dg-pagination #pagination [clrDgPageSize]="50"></clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink id="link2">
      <clr-icon shape="file"></clr-icon>
      ข้อมูลผู้ประกอบการ
    </button>
    <clr-tab-content id="content2" *clrIfActive>
      <div style="padding-top:1em ">
        <clr-datagrid>
          <clr-dg-column>ชื่อผู้ประกอบการ</clr-dg-column>
          <clr-dg-column>ที่อยู่</clr-dg-column>
          <clr-dg-column>เบอร์โทร</clr-dg-column>
          <clr-dg-column>แก้ไข</clr-dg-column>
          <clr-dg-row *clrDgItems="let item of labelersRS" [clrDgItem]="item">
            <clr-dg-cell>{{item.labeler_name}}</clr-dg-cell>
            <clr-dg-cell>{{item.address}}</clr-dg-cell>
            <clr-dg-cell>{{item.phone}}</clr-dg-cell>
            <clr-dg-cell style="text-align: center">
              <div class="btn-group btn-sm">
                <button class="btn btn-outline-primary" (click)="onEditLabelers(item)">Edit</button>
              </div>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} รายการ
            <clr-dg-pagination #pagination [clrDgPageSize]="50"></clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink id="link3">
      <clr-icon shape="file"></clr-icon>
      คลัง
    </button>
    <clr-tab-content id="content3">
      <div style="padding-top:1em ">
        <clr-datagrid>
          <clr-dg-column>ชื่อคลัง</clr-dg-column>
          <clr-dg-column>แก้ไข</clr-dg-column>
          <clr-dg-row *clrDgItems="let item of warehousesRS" [clrDgItem]="item">
            <clr-dg-cell>{{item.warehouse_name}}</clr-dg-cell>
            <clr-dg-cell style="text-align: center">
              <div class="btn-group btn-sm">
                <button class="btn btn-outline-primary" (click)="onEditWarehouses(item)">Edit</button>
              </div>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} รายการ
            <clr-dg-pagination #pagination [clrDgPageSize]="50"></clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink id="link4">
      <clr-icon shape="file"></clr-icon>
      รายการยา
    </button>
    <clr-tab-content id="content4">
      <div style="padding-top:1em ">
        <clr-datagrid>
          <clr-dg-column>Generic Name</clr-dg-column>
          <clr-dg-column>Product Name</clr-dg-column>
          <clr-dg-column>หน่วยใหญ่</clr-dg-column>
          <clr-dg-column>conversion</clr-dg-column>
          <clr-dg-column>หน่วยเล็ก</clr-dg-column>
          <clr-dg-column>ราคาต่อหน่วย</clr-dg-column>
          <clr-dg-column>ราคาต่อแพ็ค</clr-dg-column>
          <clr-dg-column>คงคลัง</clr-dg-column>
          <clr-dg-column>คลัง</clr-dg-column>
          <!-- <clr-dg-column>แก้ไข</clr-dg-column> -->
          <clr-dg-row *ngFor="let item of genericRS" [clrDgItem]="item">
            <clr-dg-cell>{{item.generic_name}}</clr-dg-cell>
            <clr-dg-cell>{{item.product_name}}</clr-dg-cell>
            <clr-dg-cell>{{item.large_unit}}</clr-dg-cell>
            <clr-dg-cell>{{item.qty}}</clr-dg-cell>
            <clr-dg-cell>{{item.small_unit}}</clr-dg-cell>
            <clr-dg-cell>{{item.unit_cost}}</clr-dg-cell>
            <clr-dg-cell>{{item.cost}}</clr-dg-cell>
            <clr-dg-cell>{{item.remain_qty}} ({{item.small_unit}})</clr-dg-cell>
            <clr-dg-cell>{{item.warehouse_name}}</clr-dg-cell>
            <!-- <clr-dg-cell style="text-align: center">
              <div class="btn-group btn-sm">
                <button class="btn btn-outline-primary" (click)="onEditGeneric(item)">Edit</button>
              </div>
            </clr-dg-cell> -->
          </clr-dg-row>

          <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} รายการ
            <clr-dg-pagination #pagination [clrDgPageSize]="50"></clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </div>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
<!--Edit Modal tab ข้อมูลเจ้าหน้าที่ -->
<clr-modal [(clrModalOpen)]="openModal_people">
  <h3 class="modal-title">แก้ไขข้อมูลเจ้าหน้าที่</h3>
  <div class="modal-body">
    <div style="padding: 1em">
      <select id="peopleEdit.title_id" [(ngModel)]="peopleEdit.title_id">
        <option [(value)]="v.title_id" *ngFor="let v of titleRs">{{v.title_name}}</option>
      </select>
      <input type="text" [(ngModel)]="peopleEdit.fname">
      <input type="text" [(ngModel)]="peopleEdit.lname">
    </div>
    <div style="padding: 1em">
      <select id="peopleEdit.position_id" [(ngModel)]="peopleEdit.position_id">
        <option [(value)]="v.position_id" *ngFor="let v of positionRs">{{v.position_name}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmEditPeople()">OK</button>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="openModal_labeler">
  <h3 class="modal-title">แก้ไขข้อมูลผ้ประกอบการ</h3>
  <div class="modal-body">
    <span>ชื่อผู้ประกอบการ
      <input type="text" [(ngModel)]="lablerEdit.labeler_name" style="width: 100%;">
    </span>
    <br>
    <br>
    <span>ที่อยู่
      <input type="text" [(ngModel)]="lablerEdit.address" style="width: 100%;">
    </span>
    <br>
    <br>
    <span>เบอร์โทร
      <input type="text" [(ngModel)]="lablerEdit.phone" style="width: 100%;">
    </span>
    <br>
    <br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmEditLabelers()">OK</button>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="openModal_warehouse">
  <h3 class="modal-title">แก้ไขข้อมูลคลัง</h3>
  <div class="modal-body">
    <span>ชื่อคลัง
      <input type="text" [(ngModel)]="warehousesEdit.warehouse_name" style="width: 100%;">
    </span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmEditWarehouses()">OK</button>
  </div>
</clr-modal>
<!-- 
<clr-modal [(clrModalOpen)]="openModal_generics">
  <h3 class="modal-title">แก้ไขข้อมูลยา</h3>
  <div class="modal-body">
    <span>ชื่อยาสามัญ
      <input type="text" [(ngModel)]="warehousesEdit.warehouse_name" style="width: 100%;">
    </span>
  </div>
  <div class="modal-body">
    <span>ชื่อทางการค้า
      <input type="text" [(ngModel)]="warehousesEdit.warehouse_name" style="width: 100%;">
    </span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmEditGenerics()">OK</button>
  </div>
</clr-modal> -->
<app-loading-modal #modalLoading></app-loading-modal>